.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.purple-bg {
  background-color: #49416D !important;
}

.gray-bg {
  background-color: #8c92ac !important;
}

.light-green-bg {
  background-color: #a1cca5 !important;
}

.pink-bg {
  background-color: #f3baba !important;
}

.dark-lime-bg {
  background-color: #5b744b !important;
}


.lime-bg {
  background-color: #799567 !important;
}

.pale-green-bg {
  background-color: #a7b59e !important;
}

.light-pink-bg {
  background-color: #f9ddd8 !important;
}

.pink-bg {
  background-color: #f8d0c8 !important;
}