body, html {
    height: 50%;  
    margin: 0;
}

.search-input {
    margin-bottom: 20px; 
}

/* search btutton with Spotify colors */
.spotify-search-btn {
   background-color: #1DB954; /* Spotify green */
}